@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('img/photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  /* overflow: hidden; */
}

/* SET za overlay */
/* Add a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1280px;
  background-color: rgba(0, 0, 0, 0.1);
}

body * {
  z-index: 1;
}
/* SET za overlay */

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.textcss {
  /* padding: 10px; */
  /* height: 10vh; */
  color: #fff !important;
  font-size: 2rem;
}

/* ******************************** */
/* Pauza */
.timer {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  /* background: red; */
  /* flex-direction: column; */
  height: 20vh;
  z-index: 2;
  padding: 1rem;
}

.timer-controls {
  display: flex;
  width: 100%;
}

.timer-controls > * {
  flex: 1;
}

.timer-controls form {
  display: flex;
  flex: 1;
}

.timer-controls input {
  flex: 1;
  justify-content: space-between;
  border: 0;
  padding: 2rem;
}

.timer-button {
  width: 120px;
  background: green;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  /* background: rgba(0,0,0,0.5); */
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
}

.display {
  background: burlywood;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.display-time-left {
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.display-time-end {
  font-size: 4rem;
  color: white;
}

.timer form {
  flex: 1;
}

.unos {
  width: 200px;
  font-size: 1.5rem;
  background: #efefef;
}

/* ************************** */
/* Clock */
.clock {
  display: flex;
  /* position: relative; */
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 20px solid goldenrod;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.kazaljka {
  background-color: aqua;
  width: 50%;
  height: 6px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: 100ms;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* ******************************************** */
/* SAT ODBROJAVANJE */
.odbrojavanje-sat {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* margin: auto; */
  /* height: 100%; */
  /* width: 100%; */
}

h1 {
  font-size: 60px;
  margin: 60px 0 40px;
}

.year {
  margin-top: 1rem;
  font-size: 200px;
  /* z-index: -1; */
  opacity: 0.3;
  /* position: absolute; */
  /* bottom: 20px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.countdown {
  display: flex;
  margin: auto;
  display: none;
  transform: scale(2);
}

.time {
  /* display: flex; */
  /* flex-direction: column; */
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}
